<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Generic Page Template</title>
</head>
<body>
	<header>
		<img src="" alt="header image" />
		<hr />
		<nav class ="horizontal">
		<!--Put nav stuff here -->
		<!--<li></li>-->
		</nav>
	</header
	<article>
		<section>
		<!--Content here -->
		</section>
		<section>
		<!-- Content here -->
		</section>
		<footer>
		</footer>
	</article>
	<footer>
		<nav>
		<!--Don't forget to make the styles identical later -->
		</nav>
		<!--License info here -->
	</footer>
</body>
</html>