@charset "utf-8";

/* Template layout */
/* This should be fixed later, it's only temporary */
section {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing:border-box;
}
/* Body */

/* Header */
nav.horizontal > li {
	display: block;
	/* width? padding? */
	float: left;
}

/* Article */
section {
	display:block;
	width: 50%;
	float: left;
}

/* Footer */
/* Do this after more info about footer layout*/