<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Map_Template</title>
</head>

<body>
	<header>
        <image href="./Media/Header.png" alt="Header:" />
        <hr/>
        <nav>
        	<!--TODO: Make this Horizontal -->
        </nav>
    </header>
    <section>
    	<article>
        <image href="./Media/LMap.png" alt="Map of Lawerence Town" />
        <map name="LMapMap">
    		<area> <!-- TODO: Figure out how we acomplish Hover elements, And make it possible for people to see the content on mobile -->
        </map>
    	</article>
    </section>
    <footer>
    
    </footer>
</body>
</html>
