<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Lawrencetown FAQ</title>
<link href="tp_layout_faq.css rel="stylesheet" />
</head>

<body>
	<header>
    	<!--image-->
    </header>
    <section>
    	<nav>
        	<!--Nav links to other websites-->
        </nav>
    </section>
    <section>
    	<article>
        	<h1>Intro to Lawrencetown</h1>
            <p><!-- Insert content here --></p>
        </article>
       		<!-- Insert map where -->
        <article>
        	<h1>FAQ</h1>
            <!-- Insert Q&A here -->
        </article>
    </section>
    <footer>
    	<nav>
        <!-- Insert nav links here-->
        </nav>
        <!-- Insert licenses here-->
    </footer>
</body>
</html>
